
header {
  font-size: 50px;
  font-weight: bold;
  display: block;
  margin: 0px auto;
  color: #023047;
  text-align: center;
  background: linear-gradient(135deg, #8ECAE6 0%, #219EBC 100%);
}
.header-child {
  padding: 10px;
}
.objective {
  background-color: #e9ceec;
  border-radius: 10px;
  color: #432746;
  padding: 15px;
  margin: 15px;
  text-align: justify;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skill-set {
  background-color: antiquewhite;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.skill-set-head {
  font-weight: bold;
  font-size: larger;

}
